@font-face {
    font-family: "custom-font";
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('ttf'),
       url('assets/fonts/Figtree-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures HTML and BODY take full height */
  width: 100%;  /* Ensures HTML and BODY take full width */
}

body {
  min-height: 100vh; /* Ensures body is at least the full viewport height */
  background-image: url("./assets/images/bg-body-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;             /* Makes the body a flex container */
  justify-content: center;   /* Centers flex items horizontally */
  align-items: center;       /* Centers flex items vertically */
}

.container {
    background-color: papayawhip;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .6);
    border: 3px solid black;
    font-family: 'MyCustomFont', sans-serif;
    width: 350px;
}

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 350px;
}

.upskill_category {
    background-color: rgb(255, 200, 10);
    margin: 0 0;
    width: 68px;
    border-radius: 12px;
    font-weight: bold;
    padding: 8px 10px;
    overflow-wrap: break-word; 
}

.title {
    font-weight: bold;
    font-size: 26px;
}
.title:hover {
    cursor: pointer;
    color: rgb(200, 200, 0);
}

.description {
    color: grey;
}

div.card_1 {
    text-align: left;
    display: grid;
    gap: 16px;
}

.published_by {
    display: flex;
    height: 48px;
    font-weight: bold;
    gap: 8px;
}

img.card_pic {
  border-radius: 12px;
}